@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

.demo-frame {
    top: 44px
}

.demo-bar,
.demo-bar-items {
    height: 44px
}

body {
    margin     : 0;
    padding    : 0;
    font-size  : 14px;
    color      : #acacac;
    line-height: 1.7;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol
}

html,
body {
    height  : 100%;
    overflow: hidden
}

a {
    text-decoration: none;
    color          : inherit
}

a:hover,
a:focus {
    text-decoration: none;
    outline        : none;
    color          : inherit
}

img {
    max-width: 100%;
    height   : auto
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing        : border-box
}

.p-0 {
    padding: 0 !important
}

.demo-hide {
    display: none !important
}

::-webkit-scrollbar {
    width : 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    cursor    : pointer;
    background: #252525
}

.demo-bar {
    position        : relative;
    background-color: #2a2a2a;
    z-index         : 5;
    border-bottom   : 1px solid #333
}

.demo-bar:after {
    content: '';
    display: table;
    clear  : both
}

.demo-bar-items {
    float          : left;
    list-style-type: none;
    margin         : 0;
    padding        : 0
}

.demo-bar-items.demo-bar-items-right {
    float: right
}

.demo-bar-items>li {
    display: table;
    float  : left;
    padding: 0 15px;
    height : 100%
}

.demo-bar-items>li+li {
    border-left: 1px solid #333
}

.demo-bar-items>li>div {
    display       : table-cell;
    vertical-align: middle;
    margin-left   : 15px;
    margin-right  : 15px
}

.demo-bar-items>li>div>a {
    line-height: 1
}

.demo-link-icon {
    display     : block;
    padding     : 0 15px;
    font-size   : .9em;
    margin-left : -20px;
    margin-right: -20px;
    line-height : 0;
    transition  : all .3s
}

.logo {
    color      : #fff;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size  : 1.27em
}

.logo img {
    border-radius: 50%;
    margin-right : 3px
}

.logo strong {
    display: inline-block
}

.logo:hover {
    opacity: .8 !important;
    color  : #fff
}

.demo-link-icon-wrap {
    float     : left;
    position  : relative;
    width     : 38px;
    height    : 44px;
    transition: all .3s
}

.demo-link-icon-wrap .close-left {
    height                  : 18px;
    width                   : 1px;
    background              : #fff;
    position                : absolute;
    display                 : block;
    top                     : 11px;
    z-index                 : 1;
    right                   : 12px;
    -webkit-transform       : scale3d(1, .65, 1);
    transform               : scale3d(1, .65, 1);
    -webkit-transform-origin: 0 100%;
    transform-origin        : 0 100%;
    -webkit-transform       : rotate(-45deg);
    transform               : rotate(-45deg)
}

.demo-link-icon-wrap .close-right {
    height                  : 18px;
    width                   : 1px;
    background              : #fff;
    position                : absolute;
    display                 : block;
    top                     : 11px;
    z-index                 : 1;
    left                    : 12px;
    -webkit-transform       : scale3d(1, .65, 1);
    transform               : scale3d(1, .65, 1);
    -webkit-transform-origin: 100% 100%;
    transform-origin        : 100% 100%;
    -webkit-transform       : rotate(45deg);
    transform               : rotate(45deg)
}

.demo-link-icon>* {
    vertical-align: middle
}

.demo-link-icon>img+span {
    margin-left: 3px
}

.demo-link-icon:hover {
    opacity: .6
}

.demo-label {
    padding         : 4px 5px;
    margin-top      : 4px;
    border-radius   : 2px;
    font-size       : .6em;
    line-height     : 1;
    font-weight     : 700;
    text-transform  : uppercase;
    color           : #fff;
    background-color: #656565;
    font-family     : montserrat, sans-serif;
    font-weight     : 700
}

.demo-products-list li .demo-label {
    float: right
}

.demo-label-html {
    background-color: #d9534f
}

.demo-label-wp {
    background-color: #1e8cbe
}

.demo-label-free {
    background-color: #21a912
}

.demo-envato-btn {
    display           : block;
    margin            : 0;
    border            : none;
    text-align        : center;
    cursor            : pointer;
    position          : relative;
    color             : #fff;
    font-family       : montserrat, sans-serif;
    font-weight       : 400;
    -webkit-transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
    transition        : opacity .3s cubic-bezier(.645, .045, .355, 1);
    border-radius     : 0;
    font-size         : 13px;
    height            : 100%;
    padding           : 0 17px;
    line-height       : 44px !important;
    background        : #44698c;
    background        : -webkit-linear-gradient(#50a1d8, #44698c);
    background        : linear-gradient(#50a1d8, #44698c)
}

.demo-envato-btn img {
    display       : inline-block;
    position      : relative;
    top           : -1px;
    vertical-align: middle
}

.demo-envato-btn span {
    display    : inline-block;
    margin-left: 4px
}

.demo-envato-btn:focus,
.demo-envato-btn:hover,
.demo-envato-btn:active {
    text-decoration: none;
    outline        : none;
    color          : #fff;
    opacity        : .6;
    opacity        : 1;
    background     : -webkit-linear-gradient(#44698c, #50a1d8);
    background     : linear-gradient(#44698c, #50a1d8)
}

.demo-envato-btn:empty {
    display: none
}

.demo-frame {
    position: fixed;
    display : block;
    left    : 0;
    right   : 0;
    bottom  : 0
}

.demo-frame>iframe {
    display: block;
    width  : 100%;
    height : 100%
}

.demo-products-list,
.demo-products-demos-list {
    position   : relative;
    width      : 190px;
    display    : block;
    line-height: 1em
}

.demo-products-list:empty,
.demo-products-demos-list:empty {
    display: none
}

.demo-products-list .demo-products-list-current,
.demo-products-demos-list .demo-products-list-current {
    position        : relative;
    display         : block;
    background-color: #3a3a3a;
    color           : #bdbdbd;
    border          : none;
    border-radius   : 4px;
    cursor          : pointer;
    font-size       : 14px;
    padding         : 5px 15px 6px;
    padding-right   : 25px;
    line-height     : 1.1;
    white-space     : nowrap;
    overflow        : hidden;
    text-overflow   : ellipsis
}

.demo-products-list .demo-products-list-current:after,
.demo-products-list .demo-products-list-current:before,
.demo-products-demos-list .demo-products-list-current:after,
.demo-products-demos-list .demo-products-list-current:before {
    content                 : '';
    position                : absolute;
    display                 : block;
    top                     : 50%;
    right                   : 15px;
    margin-top              : -3px;
    width                   : 7px;
    border-bottom           : 1px solid;
    border-top              : 1px solid;
    -webkit-transform       : rotate(-45deg);
    -ms-transform           : rotate(-45deg);
    transform               : rotate(-45deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin    : 100% 0;
    transform-origin        : 100% 0
}

.demo-products-list .demo-products-list-current:before,
.demo-products-demos-list .demo-products-list-current:before {
    -webkit-transform       : rotate(45deg);
    -ms-transform           : rotate(45deg);
    transform               : rotate(45deg);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin    : 0 0;
    transform-origin        : 0 0
}

.demo-products-list-menu {
    position                  : absolute;
    display                   : none;
    list-style-type           : none;
    margin                    : 0;
    padding                   : 0;
    top                       : 100%;
    left                      : 0;
    width                     : 100%;
    background-color          : #3a3a3a;
    max-height                : 380px;
    overflow-y                : auto;
    border-bottom-left-radius : 4px;
    border-bottom-right-radius: 4px;
    border-top                : 1px solid #2f2f2f
}

.demo-products-list-menu li {
    position: relative;
    display : block
}

.demo-products-list-menu li a {
    display       : block;
    cursor        : pointer;
    line-height   : 1.75;
    padding       : 5px 14px;
    text-transform: none;
    color         : #bdbdbd
}

.demo-products-list-menu li a:hover,
.demo-products-list-menu li a.is-active {
    color           : #fff;
    background-color: #252525
}

.demo-products-list:hover .demo-products-list-menu,
.demo-products-demos-list:hover .demo-products-list-menu {
    display: block
}

.demo-products-list:hover .demo-products-list-current,
.demo-products-demos-list:hover .demo-products-list-current {
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0
}

.demo-preview-cont {
    position          : absolute;
    visibility        : hidden;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    -webkit-transition: .4s background-color, .4s visibility;
    -o-transition     : .4s background-color, .4s visibility;
    transition        : .4s background-color, .4s visibility
}

.demo-preview-cont.is-active {
    visibility      : visible;
    background-color: rgba(0, 0, 0, .7)
}

.demo-preview-cont>img {
    display      : none;
    position     : fixed;
    border-radius: 4px;
    z-index      : 6;
    width        : 590px
}

.demo-preview-cont.is-active>img {
    display: block
}

@media(max-width:900px) {
    .demo-hide-lg {
        display: none !important
    }
}

@media(max-width:590px) {
    .demo-hide-md {
        display: none !important
    }

    .demo-products-list,
    .demo-products-demos-list {
        width: 200px
    }
}

@media(max-width:480px) {
    .demo-hide-sm {
        display: none !important
    }
}